<form #form="ngForm" autocomplete="off">
    <div class="form-group">
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text bg-white">
                    <i class="fas fa-user-circle"></i>
                </div>
            </div>
            <input name="CardOwnerName" #CardOwnerName="ngModel" [(ngModel)]="service.CardOwnerName"  class="form-control" placeholder="Card Owner Name" required>
        </div>
    </div>
    <div class="form-group">
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text bg-white">
                    <i class="far fa-credit-card"></i>
                </div>
            </div>
            <input name="CardNumber" #CardNumber="ngModel" [(ngModel)]="service.CardNumber"  class="form-control" placeholder="Card Number" required>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-7">
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text bg-white">
                        <i class="fas fa-calendar-week"></i>
                    </div>
                </div>
                <input name="ExpirationDate" #ExpirationDate="ngModel" [(ngModel)]="service.ExpirationDate"  class="form-control" placeholder="MM/YY" required>
            </div>
        </div>
        <div class="form-group col-md-5">
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text bg-white">
                        <i class="fas fa-key"></i>
                    </div>
                </div>
                <input type="password" name="CVV" #CVV="ngModel" [(ngModel)]="service.CVV"  class="form-control" placeholder="CVV" required>
            </div>
        </div>
    </div>
    <div class="form-group">
        <button class="btn btn-success btn-lg btn-block" type="submit">
            <i class="fas fa-save"></i>
            Submit
        </button>
    </div>
</form>
